<div class="container ">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <form [formGroup]="form">
                <h2 class="text-center" *ngIf="idEditing == ''">Registro</h2>
                <h2 class="text-center" *ngIf="idEditing != ''">Editar usuario {{userName}}</h2>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Email" required="required"
                        formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" required="required"
                        formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" required="required"
                        formControlName="password">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirmar Password</label>
                    <input type="password" class="form-control" placeholder="Repetir Password" required="required"
                        formControlName="password2">
                        <small class="text-danger" *ngIf="form.invalid && (form.dirty || form.controls['password'].touched) && form.hasError('notSame')">
                          Las contraseñas no coinciden
                        </small>
                </div>
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="button" class="btn btn-sm btn-primary btn-block"
                        [disabled]="!form.valid" (click)="save()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>